# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/apps/web/node_modules
/apps/api/node_modules
/apps/api/dist
/apps/web/.next/
/apps/web/out/
.next

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ai assistant
.claude
CLAUDE.md
AGENTS.md